[Unit]
Description=Khyron Realm Server
After=network.target

[Service]
WorkingDirectory= PATH_TO_SERVER_DIRECTORY
ExecStart=/usr/bin/dotnet PATH_TO_SERVER_DIRECTORY/Lib/DarkRift.Server.Console.dll
SyslogIdentifier=Unlimited
Restart=always
RestartSec=5      

[Install]
WantedBy=multi-user.target
