[Unit]
Description=Unlimited Darkrift erver application
After=network.target

[Service]
WorkingDirectory=/home/alexgrigoras10/Unlimited-DarkriftServer-MiningGame/
ExecStart=/usr/bin/dotnet /home/alexgrigoras10/Unlimited-DarkriftServer-MiningGame/Lib/DarkRift.Server.Console.dll
SyslogIdentifier=Unlimited
Restart=always
RestartSec=5      

[Install]
WantedBy=multi-user.target
